html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Primary content area */

#content  {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .gallery img {
  /*max-width: 200px;*/
  /*max-height: 300px;*/
  height: 300px;
}

#content md-card {
  justify-content: space-between;
  min-width: 300px;
  /*padding: 0 5px 0 5px;*/
}

@media (min-width: 600px) {
  #content md-card {
    max-width: 400px;
  }
}

md-card > img, md-card > :not(md-card-content) img {
  width: auto;
}
/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}