@(posts: List[Post])(implicit flash: Flash, lang: Lang)

@main(Messages("application.name")) {

<!-- Wireframe Container #4 -->
<md-content layout="row" layout-sm="column" layout-wrap layout-align-gt-sm="center center" id="content">

  @for(post <- posts) {
    @tags.flicker(post)
  }

</md-content>

} {

 <script type="text/javascript">
  angular.module('yeppeun', ['ngMaterial'])
        .config(function($mdThemingProvider, $mdIconProvider){

          $mdThemingProvider.theme('default')
              .primaryPalette('indigo')
              .accentPalette('red')
      });
 </script>

}