@(title: String)(content: Html)(implicit lang: Lang)

<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>@title</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("vendor/angular-material/angular-material.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

  </head>

  <body ng-app="yeppeun" layout="column" >

  <!-- Container #1 (see wireframe) -->
  <md-toolbar layout="row" >
    <h1>@title</h1>
  </md-toolbar>

  @content

    <script src="@routes.Assets.at("vendor/angular/angular.js")"></script>
    <script src="@routes.Assets.at("vendor/angular-animate/angular-animate.js")"></script>
    <script src="@routes.Assets.at("vendor/angular-aria/angular-aria.js")"></script>
    <script src="@routes.Assets.at("vendor/angular-material/angular-material.js")"></script>

    <script type="text/javascript">
        angular
            .module('yeppeun', [ 'ngMaterial' ])
            .run(function($log){
              $log.debug("startApp running ");
            });
     </script>

  </body>
</html>
