@(title: String)(content: Html)(anglr: Html)(implicit flash: Flash, lang: Lang)

<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>@title</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("vendor/angular-material/angular-material.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("vendor/flickity/dist/flickity.css")" media="screen">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body ng-app="yeppeun">

  <!-- Container #1 (see wireframe) -->
  <md-toolbar layout="row" >
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="@routes.Assets.at("images/svg/menu.svg")"></md-icon>
      </md-button>
      <h2>
        <span>@title</span>
      </h2>
      <span flex></span>
      <md-button ng-href="@routes.Application.index()" aria-label="Favorite">
        @Messages("post.list.command")
      </md-button>
      <md-button ng-href="@controllers.routes.Posts.newPost" aria-label="More">
        @Messages("post.new.command")
      </md-button>
    </div>

  </md-toolbar>

  @if(flash.get("success").isDefined) {
  <md-toast class="md-right">
    <span flex>@flash.get("success")</span>
  </md-toast>
  }

  @if(flash.get("error").isDefined) {
  <md-toast class="md-right">
    <span flex>@flash.get("error")</span>
  </md-toast>
  }

  <div>
    @content
  </div>

  <script src="@routes.Assets.at("vendor/angular/angular.js")"></script>
  <script src="@routes.Assets.at("vendor/angular-animate/angular-animate.js")"></script>
  <script src="@routes.Assets.at("vendor/angular-aria/angular-aria.js")"></script>
  <script src="@routes.Assets.at("vendor/angular-material/angular-material.js")"></script>
  <script src="@routes.Assets.at("vendor/flickity/dist/flickity.pkgd.js")"></script>

  @anglr

  </body>
</html>
